{##
 # TaxCloud statuses page
 #}
<div class="taxcloud-statuses-page">
  <div class="table-label">{{ t('The orders only with these status combinations will be Recorded to TaxCloud') }}</div>
  <br />
  <div class="table-value">{{ widget('Iidev\\TaxCloud\\View\\ItemsList\\Model\\Statuses') }}</div>
</div>
