{##
 # Checkout : shipping step : selected state : taxcloud status
 #
 # @ListChild (list="checkout.shipping.selected")
 #}

{% if this.get('config').XC.TaxCloud.require_taxes_for_order %}
  <div style="display: none;" class="taxcloud-data" data-taxCloudErrorsFlag="{{ this.get('cart').getTaxCloudErrorsFlag() }}"></div>
{% endif %}

